[user]
	name = Chris Matyjek
	email = chrismatyjek@yahoo.com
[color]
	ui = true

[alias]
        abbr = "!sh -c 'git rev-list --all | grep ^$1 | while read commit; do git --no-pager log -n1 --pretty=format:\"%H %ci %an %s%n\" $commit; done' -"

